$def with (data,page_num,page_list,i,file_list,name)
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Data View</title>
    <style>
        a{
        color:#40668c;
        }

        td {
              white-space:nowrap;overflow:hidden;text-overflow: ellipsis;
        }
        #banner{
            width:100%;
            background:black;
            position:fixed;
            top:0px;
            text-align:center;
            opacity:1;
            padding-top:10px
        }
        #nav {
            width:150px;
            height:900px;
            margin-left:0px;
            //background:#EEAD0E;
            background:grey;
            position:fixed;
            top:73px;
            text-align:center;
            //opacity:0.7;
            //border-radius:5px;
        }
        .butt {
            border-top:solid 1px black;
            border-bottom:solid 1px black;
            background:grey;
        }
        a{
        text-decoration:none
        }
    </style>
    <script type="text/javascript">
    var oldcolor = "#EEAD0E";
    var newcolor = "grey";
    function bigger(id){
        document.getElementById("butt"+id).style.backgroundColor = oldcolor;
        }
    function smaller(id){
        document.getElementById("butt"+id).style.backgroundColor = newcolor;
        }
    var foldcolor = "#EEAD0E";
    var fnewcolor = "white";
    function fbigger(id){
        document.getElementById("butt"+id).style.backgroundColor = foldcolor;
        }
    function fsmaller(id){
        document.getElementById("butt"+id).style.backgroundColor = fnewcolor;
        }
    </script>
</head>
<body>
<div id="banner">
    <span align="center" style="font-size:26px;color:white;height:40px;margin-top:20px">Data View 1.1     <span style="font-size:16px;color:white;">--local AIfilter csv</span></span>
    <hr color="white">
</div>
<br>
<div style="margin-left:150px">
<div style="width:1330px;height:2680px;background-color:DCDCDC;margin-top:40px;margin:40px auto;padding:0 auto">
$if i != -1:
    $ start = page_list[i]
    $ end = min(page_list[i]+30,len(data))
$else:
    $ start = 0
    $ end = len(data)
$for line in range(start,end):
    $if data[line]['output_remove'] == data[line]['manuallyResult_remove']:
        pass
        $continue
    $ imgl = int(data[line]["img_url"][data[line]["img_url"].find("w_")+2:data[line]["img_url"].find(",h_")])
    $if imgl <= 200:
        $ imgWidth = 200
    $elif imgl <= 400:
        $ imgWidth = 300
    $elif imgl <= 600:
        $ imgWidth = 400
    $elif imgl <= 800:
        $ imgWidth = 460
    $elif imgl <= 1000:
        $ imgWidth = 500
    $else:$ imgWidth = 600

    <div style = "background-color:grey;width:590px;margin:10px 10px 30px 15px;height:500px;float:left">
        <div style = "background-color:white;width:575px;height:79px;margin-left:7px;margin-top:5px;float:left">
            <img style = "width:$imgWidth"  src = $data[line]["img_url"]>
        </div>
        <div style = "background-color:white;width:575px;height:400px;margin-left:7px;margin-top:5px;float:left">
            <l>
            <table style="table-layout: fixed;width:575px;font-weight:lighter;font-size:18px;overflow:hidden" >
                <tr>
                    <td style="width:100px">prob_list:</td>
                    <td>
                    <textarea style=" resize:none; width:460px;height:80px">
                        $if "prob_list" in data[line].keys():
                            $data[line]["prob_list"]
                        $else:
                            "None"
                    </textarea>
                    </td>
                </tr>
                <tr>
                    <td>reference:</td><td><textarea style=" resize:none; width:460px;height:40px">$data[line]["reference"]</textarea></td>
                </tr>
                <tr>
                    <td>img_url:</td><td><a target="_blank" href = $data[line]["img_url"]>$data[line]["img_url"]</a></td>
                </tr>
                <tr>
                    <td>prob:</td><td>$data[line]["prob"]</td>
                </tr>
                <tr>
                    <td>marked:</td><td>$data[line]["marked"]</td>
                </tr>
                <tr>
                    <td>total_score:</td><td>$data[line]["total_score"]</td>
                </tr>
                <tr>
                    <td>final_score:</td><td>$data[line]["final_score"]</td>
                </tr>
                <tr>
                    <td>text:</td><td><textarea style=" resize:none; width:460px;height:40px">$data[line]["text"]</textarea></td>
                </tr>
                <tr>
                    <td>output:</td><td><textarea style=" resize:none; width:460px;height:40px">$data[line]["output"]</textarea></td>
                </tr>
                <tr>
                    <td>manuallyResult:</td><td><textarea style=" resize:none; width:460px;height:40px">$data[line]["manuallyResult"]</textarea></td>
                </tr>
            </table>
            </l>
        </div>
    </div>
</div>

</div>
<div	id="nav" cellpadding="0px" cellspacing="0px" style = "font-size:22px">
    <div>
        <div id="butt-0" class="butt" style="background:black;height:20px"></div>
        <div id="butt-1" class="butt" onmouseover="bigger(-1)" onmouseout="smaller(-1)"><a href="/pagechange?i=$i&aim=first&fn=lfvc&max_page=$page_num">首页</a></div>
        <div id="butt-2" class="butt" onmouseover="bigger(-2)" onmouseout="smaller(-2)"><a href="/pagechange?i=$i&aim=pre&fn=lfvc&max_page=$page_num">上一页</a></div>
        <div id="butt-3" class="butt" onmouseover="bigger(-3)" onmouseout="smaller(-3)"><a href="#">当前第$(i+1)页</a></div>
        <div id="butt-4" class="butt" onmouseover="bigger(-4)" onmouseout="smaller(-4)"><a href="/pagechange?i=$i&aim=next&fn=lfvc&max_page=$page_num">下一页</a></div>
        <div id="butt-5" class="butt" onmouseover="bigger(-5)" onmouseout="smaller(-5)"><a href="#">共$page_num页</a></div>
        <div id="butt-6" class="butt" onmouseover="bigger(-6)" onmouseout="smaller(-6)"><a href="#">共$len(data)条</a></div>
        <div id="butt-7" class="butt" onmouseover="bigger(-7)" onmouseout="smaller(-7)"><a href="/pagechange?i=$i&aim=all&fn=lfvc&max_page=$page_num">全部显示</a></div>
        <div id="butt-8" class="butt" onmouseover="bigger(-8)" onmouseout="smaller(-8)"><a href="#">搜索</a></div>
        <div id="butt-12" class="butt" onmouseover="bigger(-12)" onmouseout="smaller(-12)"><a href="/">返回主页</a></div>
        <div style="height:300px;overflow:auto;background:white;border-left:solid 2px grey;border-right:solid 2px grey;border-top:solid 1px black;">
            $for file in xrange(len(file_list)):
                $if file_list[file]==name:
                    <p id="butt$file" style="background:red;width:145px;text-align:left;margin:0;padding:0;"><a href="/filechange?aimfile=$file_list[file]&type=lfvc" style="font-size:11px;text-decoration:none">$file  <span style="font-size:14px">&nbsp $file_list[file]</span></a></p>
                $else:
                    <p id="butt$file" onmouseover="fbigger($file)" onmouseout="fsmaller($file)" style="width:145px;text-align:left;margin:0;padding:0;"><a href="/filechange?aimfile=$file_list[file]&type=lfvc" style="font-size:11px;text-decoration:none">$file  <span style="font-size:14px">&nbsp $file_list[file]</span></a></p>
        </div>
    </div>
</div>
<div style="width:100%;
            height:20px;
            background:black;
            position:fixed;
            bottom:0px;
            text-align:center;
            opacity:1;"></div>
</body>
</html>
