$def with (data,page_num,page_list,i,file_list,name)
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Data View</title>
    <style>
        a{
        color:#40668c;
        }

        td {
              white-space:nowrap;overflow:hidden;text-overflow: ellipsis;
        }
        #banner{
            width:100%;
            background:black;
            position:fixed;
            top:0px;
            text-align:center;
            opacity:1;
            padding-top:10px
        }
        #nav {
            width:150px;
            height:900px;
            margin-left:0px;
            //background:#EEAD0E;
            background:grey;
            position:fixed;
            top:73px;
            text-align:center;
            //opacity:0.7;
            //border-radius:5px;
        }
        .butt {
            border-top:solid 1px black;
            border-bottom:solid 1px black;
            background:grey;
        }
        a{
        text-decoration:none
        }
    </style>
    <script type="text/javascript">
    var oldcolor = "#EEAD0E";
    var newcolor = "grey";
    function bigger(id){
        document.getElementById("butt"+id).style.backgroundColor = oldcolor;
        }
    function smaller(id){
        document.getElementById("butt"+id).style.backgroundColor = newcolor;
        }
    var foldcolor = "#EEAD0E";
    var fnewcolor = "white";
    function fbigger(id){
        document.getElementById("butt"+id).style.backgroundColor = foldcolor;
        }
    function fsmaller(id){
        document.getElementById("butt"+id).style.backgroundColor = fnewcolor;
        }



    </script>
</head>
<body>
<div id="banner">
    <span align="center" style="font-size:26px;color:white;height:40px;margin-top:20px">Data View 1.1
        <span style="font-size:16px;color:white;">--local essay</span></span>
    <hr color="white">
</div>
<br>
<div style = "margin-left:110px;">
<div style="background-color:DCDCDC;margin:30px auto;width:98%;padding:0 auto">
$if i != -1:
    $ start = page_list[i]
    $ end = min(page_list[i]+30,len(data))
$else:
    $ start = 0
    $ end = len(data)
$for line in range(start,end):
    <div style = "background-color:grey;width:770px;margin:10px 10px 30px 30px;height:920px;float:left">
        <div style = "background-color:white;width:300px;height:650px;margin-top:5px;margin-left:5px;padding-left:5px;float:left">
            <table style="table-layout: fixed;width:275px;font-weight:lighter;font-size:14px;overflow:hidden">
                <tr>
                    <td>学号orID:</td>
                    <td>
                        $if "studentId" in data[line].keys():
                            $data[line]["studentId"]
                        $elif "student_number" in data[line].keys():
                            $data[line]["student_number"]
                        $else:
                            "None"
                    </td>
                </tr>
                <tr>
                    <td>级别(schoolLevel):</td>
                    <td>
                        $if "schoolLevel" in data[line].keys():
                            $data[line]["schoolLevel"]
                        $else:
                            "None"
                    </td>
                </tr>
                <tr>
                    <td>图片(Url):</td>
                    <td>
                        $if "url" in data[line].keys():
                            $ new_url = data[line]["url"]
                        $elif "image_url" in data[line].keys():
                            $ new_url = data[line]["image_url"]
                        $else:
                            $ new_url = "None"
                        <a target="_blank" href = $new_url>$new_url</a>
                    </td>
                </tr>
                <tr>
                    <td>满分(totalScore):</td><td>$data[line]["total_score"]</td>
                </tr>
                <tr>
                    <td>终分(Score):</td><td>$data[line]["score"]</td>
                </tr>
                <tr>
                    <td>老师(teacherScore):</td><td>$data[line]["teacher_score"]</td>
                </tr>
                <tr>
                    <td>单次(originScore):</td>
                    <td>
                        $if "schoolLevel" in data[line].keys():
                            $data[line]["schoolLevel"]
                        $elif "origin_score" in data[line].keys():
                            $data[line]["origin_score"]
                        $else:
                            "None"
                    </td>
                </tr>
                <tr>
                    <td>批量(batch Score):</td>
                    <td>
                        $if "batch_score" in data[line].keys():
                            $data[line]["batch_score"]
                        $else:
                            "None"
                    </td>
                </tr>
                <tr>
                    <td>易改(yigaiScore):</td><td>$data[line]["yigai_score"]</td>
                </tr>
                <tr>
                    <td>其它分(other_score):</td>
                    <td>
                        $if "others" in data[line].keys():
                            $data[line]["others"]
                        $else:
                            "None"
                    </td>
                </tr>
                <tr>
                    <td>其他得分率:</td>
                    <td>
                        $if "score_except_writting" in data[line].keys():
                            $data[line]["score_except_writting"]
                        $else:
                            "None"
                    </td>
                </tr>
                <tr>
                    <td>跑题(isofftopic):</td>
                    <td>
                        $if "isOffTopic" in data[line].keys():
                            $data[line]["isOffTopic"]
                        $elif "data" in data[line].keys():
                            $data[line]["data"]["isOffTopic"]
                        $else:
                            "None"
                    </td>
                </tr>
            </table>
            <textarea style = "width:280px;height:265px">$data[line]["text"]</textarea>
        </div>

        <div style = "background-color:white;width:450px;height:560px;margin-left:5px;margin-top:5px;float:left">
            $if "url" in data[line].keys():
                $ new_url = data[line]["url"]
            $elif "image_url" in data[line].keys():
                $ new_url = data[line]["image_url"]
            $else:
                $ new_url = "None"
            <img style = "width:450px;" src=$new_url>
        </div>
    </div>
</div>
</div>
<div	id="nav" cellpadding="0px" cellspacing="0px" style = "font-size:22px">
    <div>
        <div id="butt-0" class="butt" style="background:black;height:20px"></div>
        <div id="butt-1" class="butt" onmouseover="bigger(-1)" onmouseout="smaller(-1)"><a href="/pagechange?i=$i&aim=first&fn=lev&max_page=$page_num">首页</a></div>
        <div id="butt-2" class="butt" onmouseover="bigger(-2)" onmouseout="smaller(-2)"><a href="/pagechange?i=$i&aim=pre&fn=lev&max_page=$page_num">上一页</a></div>
        <div id="butt-3" class="butt" onmouseover="bigger(-3)" onmouseout="smaller(-3)"><a href="#">当前第$(i+1)页</a></div>
        <div id="butt-4" class="butt" onmouseover="bigger(-4)" onmouseout="smaller(-4)"><a href="/pagechange?i=$i&aim=next&fn=lev&max_page=$page_num">下一页</a></div>
        <div id="butt-5" class="butt" onmouseover="bigger(-5)" onmouseout="smaller(-5)"><a href="#">共$page_num页</a></div>
        <div id="butt-6" class="butt" onmouseover="bigger(-6)" onmouseout="smaller(-6)"><a href="#">共$len(data)条</a></div>
        <div id="butt-7" class="butt" onmouseover="bigger(-7)" onmouseout="smaller(-7)"><a href="/pagechange?i=$i&aim=all&fn=lev&max_page=$page_num">全部显示</a></div>
        <div id="butt-8" class="butt" onmouseover="bigger(-8)" onmouseout="smaller(-8)"><a href="#">搜索</a></div>
        <div id="butt-12" class="butt" onmouseover="bigger(-12)" onmouseout="smaller(-12)"><a href="/">返回主页</a></div>
        <div style="height:300px;overflow:auto;background:white;border-left:solid 0px grey;border-right:solid 0px grey;border-top:solid 1px black;">
            $for file in xrange(len(file_list)):
                $if file_list[file]==name:
                    <p id="butt$file" style="background:red;width:145px;text-align:left;margin:0;padding:0;"><a href="/filechange?aimfile=$file_list[file]&type=lev" style="font-size:11px;text-decoration:none">$file  <span style="font-size:14px">&nbsp $file_list[file]</span></a></p>
                $else:
                    <p id="butt$file" onmouseover="fbigger($file)" onmouseout="fsmaller($file)" style="width:145px;text-align:left;margin:0;padding:0;"><a href="/filechange?aimfile=$file_list[file]&type=lev" style="font-size:11px;text-decoration:none">$file  <span style="font-size:14px">&nbsp $file_list[file]</span></a></p>
        </div>
    </div>
</div>
<div style="width:100%;
            height:20px;
            background:black;
            position:fixed;
            bottom:0px;
            text-align:center;
            opacity:1;"></div>
</body>
</html>
